/* src/pages/MyGroupPage.css */
.my-group-page {
    text-align: center;
    padding: 20px;
}

.my-group-page-header {
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.my-group-page-content {
    padding: 20px;
    margin-top: 60px; /* 여기를 추가 또는 조정하세요 */
}

.group-list {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    scroll-snap-type: x mandatory;
    flex-wrap: wrap;
}

.group-card {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
}

.group-card:hover {
    transform: scale(1.05);
}

.group-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.group-name {
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    word-break: break-word;
    
}